* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}
/* everything about me ----------------------------------------------------------------------------------------- */
.aboutMe {
  display: flex;
  flex-direction: row;
}

.aboutDesc {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imageSpot {
  border: solid;
  height: 100px;
  width: 100px;
}

#meDescription {
  font-size: 11px;
}
/* everything about me ----------------------------------------------------------------------------------------- */

/* project section ------------------------------------------------------------------------------------------------ */

.hhl {
  width: 60px;
  height: 60px;
}

.hhl:hover {
  border-radius: 5rem;
}
/* project section ------------------------------------------------------------------------------------------------ */

/* minigames section ----------------------------------------------------------------------------------------------------- */

/* minigames section ----------------------------------------------------------------------------------------------------- */

/* contact section ---------------------------------------------------------------------------------------------------------------- */

/* contact section ---------------------------------------------------------------------------------------------------------------- */
