* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}
/* everything about me ----------------------------------------------------------------------------------------- */
.aboutMe {
  display: flex;
  flex-direction: row;
}

.aboutMe p {
  font-size: 11px;
  font-family: system-ui;

  margin: 10px;
}

.aboutDesc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.aboutDesc h3 {
  font-family: "Courier New", Courier, monospace;
}

.imageSpot {
  border: solid;
  height: 100px;
  width: 100px;
}

#meDescription {
  font-size: 11px;
}
/* everything about me ----------------------------------------------------------------------------------------- */

/* project section ------------------------------------------------------------------------------------------------ */

.hhl {
  width: 60px;
  height: 60px;
}

.hhl:hover {
  border: solid;
}
/* project section ------------------------------------------------------------------------------------------------ */

/* minigames section ----------------------------------------------------------------------------------------------------- */

/* minigames section ----------------------------------------------------------------------------------------------------- */

/* contact section ---------------------------------------------------------------------------------------------------------------- */
.LI {
  width: 60px;
  height: 60px;
}

.LI:hover {
  border: solid;
  border-radius: 10px;
}
/* contact section ---------------------------------------------------------------------------------------------------------------- */
