* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.logoTexts {
  font-family: "Courier New", Courier, monospace;
  font-size: 9px;
  color: black;
}
/* everything about me ----------------------------------------------------------------------------------------- */
.aboutMe {
  display: flex;
  flex-direction: row;
}

.aboutMe p {
  font-size: 11px;
  font-family: system-ui;

  margin: 10px;
}

.aboutDesc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.aboutDesc h3 {
  font-family: "Courier New", Courier, monospace;
}

.imageSpot {
  border: solid;
  height: 100px;
  width: 100px;
}

#meDescription {
  font-size: 11px;
}
/* everything about me ----------------------------------------------------------------------------------------- */

/* project section ------------------------------------------------------------------------------------------------ */

.logos {
  visibility: hidden;
  text-decoration: none;
  list-style: none;
  transition: transform 0.3s ease;
}

.logos:hover > a {
  text-decoration: none;
}

.hhl {
  width: 60px;
  height: 60px;
  visibility: visible;
  transition: transform 0.3s ease;
}

.hhl:hover {
  border: solid;
}

.hhlogotext {
  font-family: "Courier New", Courier, monospace;
  font-size: 9px;
  color: black;
}

.logos:hover {
  transform: scale(1.1);
  visibility: visible;
}

/* project section ------------------------------------------------------------------------------------------------ */

/* minigames section ----------------------------------------------------------------------------------------------------- */
.mgLogos {
  visibility: hidden;

  list-style: none;
}

.mgLogos:hover > a {
  text-decoration: none;
}
.GG {
  width: 60px;
  height: 60px;
  visibility: visible;
}
.GG:hover {
  border: solid rgb(0, 200, 0);
}
.ggText {
  font-family: "Courier New", Courier, monospace;
  font-size: 9px;
  color: black;
}

.mgLogos:hover {
  visibility: visible;
  text-decoration: none;
}

/* minigames section ----------------------------------------------------------------------------------------------------- */
/* contact section ---------------------------------------------------------------------------------------------------------------- */
.contactLogos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: transform 0.3s ease;
}
.LI {
  width: 60px;
  height: 60px;
}

.LI:hover {
  border: solid;
  border-radius: 10px;
}

.emailLogo {
  width: 60px;
  height: 60px;
}

.emailLogo:hover {
  border: solid;
  border-radius: 30px;
}

.contactLogos a {
  margin: 0 10px;
}
/* contact section ---------------------------------------------------------------------------------------------------------------- */
